<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="jarvin">

    <title>EasyDBCompare</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/angular.min.js"></script>
    <link href="../css/starter-template.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <script src="../js/jquery.min.js"></script>
    <script src="../controller/ConpareController.js"></script>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../../index.html">EasyDBCompare</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="./comparepage.html">数据库对比</a></li>
                <li><a href="./about.html">关于</a></li>
                <li><a href="./contact.html">联系我们</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-app="myApp" ng-controller="dbCompareCtl">

    <div class="row" style="margin:40px 0px 10px 5px;">
        <div class="col-md-5" >
            <form class="form-horizontal" >
                <div class="form-group" >
                    <label for="inputAddressLeft"
                           class="col-sm-2 control-label">IP地址:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputAddressLeft" ng-model="addressleft">
                    </div>
                    <label for="inputPortLeft"
                           class="col-sm-2 control-label">端口:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputPortLeft" ng-model="portleft">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUserLeft" class="col-sm-2 control-label">用户:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUserLeft" ng-model="userleft">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPasswordLeft" class="col-sm-2 control-label">密码:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPasswordLeft" ng-model="passwordleft">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDBLeft" class="col-sm-2 control-label">数据库名:</label>
                    <div class="dropdown col-sm-10" >
                        <button class="btn btn-default dropdown-toggle"
                                type="button" id="inputDBLeft"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                            <li ng-repeat="tablename in tableleft"><a href="#">{{tablename}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-5">
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-loading-text="测试中..."
                                autocomplete="off" ng-click="testleft()" id="btn_login">测试连接</button>
                    </div>
                    <img src="../images/yespoint.png">
                    <img src="../images/nopoint.png">
                </div>
            </form>
        </div>

        <div class="col-md-2 " >
            <button type="button" id="compareButton" data-loading-text="Loading..."
                    class="btn btn-primary" ng-click="beginConpare()">
                开始对比
            </button>
        </div>
        <div class="col-md-5">
            <form class="form-horizontal" >
                <div class="form-group" >
                    <label for="inputAddressRight"
                           class="col-sm-2 control-label">IP地址:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputAddressRight" ng-model="addressRight">
                    </div>
                    <label for="inputPortRight"
                           class="col-sm-2 control-label">端口:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputPortRight" ng-model="portRight">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUserRight" class="col-sm-2 control-label">用户:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUserRight" ng-model="userRight">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPasswordRight" class="col-sm-2 control-label">密码:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPasswordRight" ng-model="passwordRight">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDBRight" class="col-sm-2 control-label">数据库名:</label>
                    <div class="dropdown col-sm-10" >
                        <button class="btn btn-default dropdown-toggle"
                                type="button" id="inputDBRight"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                            <li ng-repeat="tablename in tableRight"><a href="#">{{tablename}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default"
                                data-loading-text="Loading..."
                                autocomplete="off" ng-click="testRight()" >测试连接</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row" style="margin:40px 0px 10px 5px;" ng-hide="!haveResult">
        <div class="bs-result" data-example-id="embedded-scrollspy">
            <nav id="navbar-result" class="navbar navbar-default navbar-static">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-result-js-navbar-scrollspy">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">对比结果</a>
                    </div>
                    <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#fat">@fat</a></li>
                            <li class=""><a href="#mdo">@mdo</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div data-spy="scroll" data-target="#navbar-result" data-offset="0" class="scrollspy-result">
                <h4 id="fat">@fat</h4>
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                <h4 id="mdo">@mdo</h4>
                <p>Veniam marfa mustache skateboard, adipisicing fugiat velit pitchfork beard. Freegan beard aliqua cupidatat mcsweeney's vero. Cupidatat four loko nisi, ea helvetica nulla carles. Tattooed cosby sweater food truck, mcsweeney's quis non freegan vinyl. Lo-fi wes anderson +1 sartorial. Carles non aesthetic exercitation quis gentrify. Brooklyn adipisicing craft beer vice keytar deserunt.</p>
            </div>
        </div>
    </div>
</div>


<script src="../js/bootstrap.min.js"></script>
</body>
</html>
